.console-output{
    background-color: #FFFFFF;
    padding: 5px;
    border: solid 1px $border-color;
    border-radius: $border-radius;
    font-family: monospace;
}
.console-output *{
    font-family: monospace;
}

#console-outline-body > li {
	list-style-type: none;
}
