footer {
    background-color: $footer-bg;
    color: $footer-color;

    a, a:hover, a:visited, a:link {
        color: $footer-link-color;
        font-weight: bold;
    }
}


#l10n-footer{
    display: none !important;
}
