
/* Default styling for project table cells */
#projectstatus th,
#projectstatus td {
    color: #333;
}
/* Style project table header links */
#projectstatus th a {
    color: #2c2c2c;
    font-weight: bold;
}

#projectstatus th a:hover {
    color: #2c2c2c;
}
/* Reduce size of status column for coloured bars */
#projectstatus th[tooltip~="Status"] {
    padding: 0 !important;
    width: 10px !important;
}

@mixin statusIcon($status, $flavor){
    $width: 10px;
    $height: 30px;
    $color : $job-status-disabled-bg;
    @if $status == disabled {
        $color : $job-status-disabled-bg;
    }
    @else if $status == nobuilt {
        $color : $job-status-disabled-bg;
    }
    @else if $status == yellow {
        $color : $job-status-unstable-bg;
    }
    @else if $status == blue {
        $color : $job-status-success-bg;
    }
    @else if $status == red {
        $color : $job-status-failed-bg;
    }


    @if $flavor == md {
        $width: 10px;
        $height: 30px;
    }
    @else if $flavor == sm {
        $width: 9px;
        $height: 25px;
    }
    @else if $flavor == lg {
        $width: 11px;
        $height: 38px;
    }
    background-color:$color !important;
    display: block;
    box-sizing: border-box;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: -5px;
    width: $width !important;
    height: $height !important;
    padding-left: $width;
}

@each $status in disabled, nobuilt, yellow, blue, red {
    #projectstatus img.icon-#{$status} {
        @each $size in sm, md, lg{
            &.icon-#{$size}{
                @include statusIcon($status, $size);
            }
        }
    }
}

#projectstatus img.icon-blue-anime.icon-md{
    @include statusIcon($job-status-success-bg, md);
    background-image: $progress-green-image !important;
}


#projectstatus img.icon-red-anime.icon-md {
    @include statusIcon($job-status-failed-bg, md);
    background-image: $progress-yellow-image !important;
}
