
/* Default styling for project table cells */
#projectstatus th,
#projectstatus td {
    color: #333;
}
/* Style project table header links */
#projectstatus th a {
    color: #2c2c2c;
    font-weight: bold;
}

#projectstatus th a:hover {
    color: #2c2c2c;
}
/* Reduce size of status column for coloured bars */
#projectstatus th[tooltip~="Status"] {
    padding: 0 !important;
    width: 10px !important;
}

#projectstatus tr.job-status-disabled * ,
#projectstatus tr.job-status-nobuilt * {
    color: $disabled-job-color;
}

@mixin statusIcon($status, $flavor){
    $width: 10px;
    $height: 30px;
    $color : $job-status-disabled-bg;
    $margin-top: -3px;
    @if $status == disabled {
        $color : $job-status-disabled-bg;
    }
    @else if $status == nobuilt {
        $color : $job-status-disabled-bg;
    }
    @else if $status == yellow {
        $color : $job-status-unstable-bg;
    }
    @else if $status == blue {
        $color : $job-status-success-bg;
    }
    @else if $status == red {
        $color : $job-status-failed-bg;
    }


    @if $flavor == md {
        $width: 10px;
        $height: 30px;
    }
    @else if $flavor == sm {
        $width: 9px;
        $height: 25px;
        $margin-top: -6px;
    }
    @else if $flavor == lg {
        $width: 11px;
        $height: 38px;
    }
    background-color:$color !important;
    box-sizing: border-box;
    margin-top: $margin-top;
    margin-bottom: -3px;
    margin-left: -5px;
    width: $width !important;
    height: $height !important;
    padding-left: $width;
}

@mixin weatherIcon($status, $flavor){
	$size : 16px;
	$icon : 'cloud';
    @if $status == '00to19' {
        $icon : 'storm';
    }
    @else if $status == 20to39 {
        $icon : 'rain';
    }
    @else if $status == 40to59 {
        $icon : 'cloud';
    }
    @else if $status == 60to79 {
        $icon : 'cloudy';
    }
    @else if $status == 80plus {
        $icon : 'sun';
    }


    @if $flavor == md {
        $size: 24px;
    }
    @else if $flavor == sm {
        $size: 16px;
    }
    @else if $flavor == lg {
        $size: 32px;
    }
    background: url('images/' + $icon + '.png') no-repeat;
    background-size: $size $size;
    box-sizing: border-box;
    margin-top: -3px;
    margin-bottom: -3px;
    margin-left: -5px;
    width: $size !important;
    height: $size !important;
    padding-left: $size;
}

@each $status in aborted, disabled, nobuilt, yellow, blue, red {
    @each $scale in sm, md, lg{

        // Calculate the icon size
        $size : 16;
        @if $scale == md {
            $size : 24;
        }
        @else if $scale == lg{
            $size : 32;
        }

        img.icon-#{$status}.icon-#{$scale},
        img[src$="#{$size}x#{$size}/#{$status}.png"]{
            @include statusIcon($status, $scale);
        }

        img.icon-#{$status}-anime.icon-#{$scale},
        img[src$="#{$size}x#{$size}/#{$status}_anime.gif"]{
            @include statusIcon($status, $scale);
            background-image: $progress-green-image !important;
        }

        @if $status == nobuilt{
            img.icon-grey.icon-#{$scale},
            img[src$="#{$size}x#{$size}/grey.png"]{
                @include statusIcon($status, $scale);
            }
        }

        /**
         * On the build history pane on the dashboard We need to resize the
         * progress bar to fit the bigger row size
         */
        @if $scale == sm{
            @if $status == yellow or $status == blue{
                .build-status-link img[src$="#{$size}x#{$size}/#{$status}_anime.gif"]{
                    @include statusIcon($status, $scale);
                    background-image: $progress-green-image !important;
                    margin-top: -4px;
                    height: 35px !important;
                }
            }
        }
        // @else if $status == red{
        //     img.icon-#{$status}-anime.icon-#{$scale}{
        //         @include statusIcon($status, $scale);
        //         background-image: $progress-yellow-image !important;
        //     }
        // }
        // @else if $status == blue{
        //     img.icon-#{$status}-anime.icon-#{$scale}{
        //         @include statusIcon($status, $scale);
        //         background-image: $progress-green-image !important;
        //     }
        // }
    }
}

@each $status in '00to19', 20to39, 40to59, 60to79, 80plus {
    @each $scale in sm, md, lg{
        // Calculate the icon size
        $size : 16;
        @if $scale == md {
            $size : 24;
        }
        @else if $scale == lg{
            $size : 32;
        }

        img.icon-health-#{$status}.icon-#{$scale}{
            @include weatherIcon($status, $scale);
        }

        img[src$="#{$size}x#{$size}/health-#{$status}.gif"],
        img[src$="#{$size}x#{$size}/health-#{$status}.png"]{
            @include weatherIcon($status, sm);
            margin-left: 0;
        }
    }
}
.build-status-link{
    img.icon-blue.icon-sm,
    img.icon-red.icon-sm,
    img.icon-yellow.icon-sm {
        height: 30px !important;
        margin-top: -4px;
        margin-bottom: 0;
    }
}
