#projectstatus-tabBar .tabBarFrame  .tabBar .tab,
[data-model-type="hudson.plugins.view.dashboard.Dashboard"] .tabBarFrame  .tabBar .tab{
    border: solid 1px $border-color;
    border-radius: $border-radius;
    background-color: $tab-leave-color;
    & a, & a:hover{
        background-color: $tab-leave-color;
    }
}
