@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,500,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,700,500,300);

@import './institution';
@import './variables';
@import './tabs';
@import './console';
@import './panes';
@import './header';
@import './footer';
@import './projectstatus';
@import './buttons';
@import './weathericons';


*, body, table, form, input, td, th, p, textarea, select {
    font-family: "Roboto", sans-serif;
}
body {
    font-size: 13px !important;
    line-height: 20px !important;
    background-image: $background-image;
}

a:visited {
    text-decoration: none;
    color: $link-color;
}
a:link {
    text-decoration: none;
    color: $link-color;
}

.top-sticker-inner {
    background: none repeat scroll 0 0 #FFFFFF !important;
    box-shadow: $border-color 0 3px 8px 1px;
}

.bigtable th{
    background-color : $table-th-bg;
}

table.pane tr:nth-child(even) td {
    background-color: $table-td-even-bg;
}

table.pane tr:nth-child(odd) td {
    background-color: $table-td-odd-bg;
}

// th.pane {
//     background-color: transparent;
// }

#side-panel {
    padding: 0px 15px 40px 15px;
    .task-link {
        color: #333;
    }
}

div#bottom-sticker {
    margin-bottom: -8px;
}
.bottom-sticker-inner {
    margin: 0 0 0 -8px;
    padding-left: 15px;
    background: none repeat scroll 0 0 #FFFFFF !important;
    box-shadow: $border-color 0 3px 8px 1px;
}


.ygtvlabel, .ygtvlabel:link, .ygtvlabel:visited, .ygtvlabel:hover {
	background-color: transparent !important;
}

#main-panel {
    background-color: white;
    padding: 5px !important;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    margin: 15px;
}
[data-model-type="hudson.plugins.view.dashboard.Dashboard"] #main-panel{
    margin: 15px !important; // Force on dashboard view. margin is set on element
}
#main-panel-content > div:nth-child(2) {
	background-color: transparent !important;
}

.CodeMirror-scroll{
    border: 1px solid #c2c2c2 !important;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
@if $replace-logo == true{
#header .logo{
    margin-top: 0px;
    background-color: $logo-bg;
    height: $logo-height;
    display: block;
    width: $logo-width;
    background-image: $logo-image;
    background-repeat: no-repeat;
    margin-left: 0; // Place the logo tight against the left
    background-position-x: ($logo-width - $logo-image-width) / 2;
    background-position-y: ($logo-height - $logo-image-height) / 2;

    // Hide the original jenkins image
    #jenkins-head-icon {
        display: none;
    }

    // Shift name logo to properly move out of the way from the head icon
    #jenkins-name-icon {
        left: $logo-width;
    }
}
}
